<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414061509558-k0ib5ovmkfef2d8nsq6ami0fn2k50s8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414061509558-k0ib5ovmkfef2d8nsq6ami0fn2k50s8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDE8jjDCTS4iXs_WrFXT8ZwelrOb4_FI-E</string>
	<key>GCM_SENDER_ID</key>
	<string>414061509558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appname</string>
	<key>PROJECT_ID</key>
	<string>appname-f5876</string>
	<key>STORAGE_BUCKET</key>
	<string>appname-f5876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414061509558:ios:41b5791d189ea13f345f17</string>
</dict>
</plist>